body{
    background-color: var(--main-bg);
    margin: 0;
}

.footer{
    border: 1px solid white;
    background-color: var(--footer-color);
    color: white;
    height: 10em;
}

:root {
    --main-bg: rgb(241 241 241);
    --nav-color: rgb(51	51 51);
    --nav-text-color: rgb(233 233 233);
    --middle-box: rgb(224 224 224);
    --footer-color: rgb(100 100 100);
}
.top-nav {
    background-color: var(--nav-color);
    width: 100%;
    margin: 0 auto;
}
.nav-item{
    display: inline-block;
    padding: 1.5em;
    border: 1px solid white;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.nav-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.bottom_nav_link {
    color: white;
}
.bottom_nav{
    float: right;
}
.container{
    width: 71%;
    border-width: 0 25x 25px 25px;
    border: solid white;
    height: 500px;
    margin: 0 auto 400px;
}
.error{
    margin-left: 25px;
}
.middle_big_box{
    background-color: dark gray;
    height: 300px;
    width: 100%;
    border: 1px;
    background-color: var(--middle-box);
}
.middle_little_box{
    height: 50%;
    width: 90%;
    border: 1px;
    background-color: var(--main-bg);
}

