.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.row{
    width: 100%;
    border: 1px solid black;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}
.column{
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
    /*box-sizing: border-box;*/
}
.column.one-half{
    width: 50%;
    /*background-color: red;*/
}
.column.one-third{
    width: 33.33%;
    /*background-color: orange;*/
}
.column.one-fourth{
    width: 25%;
    /*background-color: yellow;*/
}
.column.one-sixth{
    width: 16.667%;
    /*background-color: green;*/
}
.column.one-eight{
    width: 12.5%;
    /*background-color: blue;*/
}
.column.two-thirds{
    width: 66.67%;
}
.column.three-eights{
    width: 37.5%;
}
.offset-one-half{
    margin: 50%;
}
.offset-one-half{
    margin: 33.3%;
}
.offset-one-half{
    margin: 66.66%;
}
.offset-one-half{
    margin: 25%;
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }

}

