h1{
    font-size: 3em;
    text-align: center;
}
footer{
    margin-top: 40px;
    clear: both;
}
img{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
}
.hidden-on-desktop {
    background-color: rgb(192 255 255);
    border: 1px solid rgb(204 204 204);
    margin: 0 auto;
    height: 4rem;
    text-align: center;
    width: 100%;
}
.hidden-on-desktop>a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    top: 10px;
    width: 100%;
}
.nav-links {
    margin: auto;
    padding: 1px;
}
.nav-links>li{
    background-color: rgb(204 204 204);
    list-style: none;
    margin: 1rem 0;
    text-align: center;
    height: 5rem;
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
.nav-links>a {
    text-align: center;
}
.sub-section{
    font-style: italic;
}



@media screen and (min-width: 934px) {

    h1{
    float: left;
}
    img{
    height: 385px;
}
    footer{
        margin-top: 400px;
    }
    body {
    }
    .hidden-on-desktop {
        display: none;
}
    .nav-links {
        text-align: center;
        position: relative;
        left: -35px;
        top: 40px;
        float: right;

}
    .nav-links>li {
        background-color: transparent;
        list-style: none;
        margin: 0 1em;
        text-align: center;
        display: inline;
        width: 100%;

}

    .main {
        float: left;
    }
    .sub-section{
        /*clear: right;*/
        /*margin-left: 1px;*/
        position: relative;
        left: -10px;
        float: right;
    }
    .alert-info {
        position: relative;
        left: 8em;
        margin-top: 10em;
    }
    


}
