h1{
    text-align: center;
    background: white;
    opacity: .5;
    margin: 0 auto;
    width: 100%;

    /*position: relative;*/
    /*left: -42px;*/
}
.jumbotron{
    background-image: url("/Users/kennethmcinturf/IdeaProjects/codeup-web-exercises/img/pizza.png");
    background-size: cover;
    width: 100%;
}
