div{
    margin: 2em auto;
    border: 1px solid black;
    text-align: center;
    width: 70%;
    overflow: auto;
    background-color: white;
    padding: 1em;
    float: left;
    margin: 2em;
}
p{
    text-align: center;
}
body{
    background-image: url("/Users/kennethmcinturf/IdeaProjects/codeup-web-exercises/img/oxford_logo.jpg");
}
header{
    background-color: white;
    width: 100%;
    margin-top: 10px;
}
h1{
    text-align: center;
}
footer{
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.container_1{
    border: none;
    background-image: url("/Users/kennethmcinturf/IdeaProjects/codeup-web-exercises/img/oxford_logo.jpg");
}
.name{
    width: 20%
}
.pres_add{
    width: 20%;
}
.dob{
    width: 20%;
}
.phone{
    width: 20%;
}
.alchoholic{
    width: 30%;
}
.adic_drug{
    width: 20%;
}
.aa_info{
    width: 20%;
}
.stop_using{
    width: 20%;
}
.employment{
    width: 20%;
    clear: left;
}
.marital_status{
    width: 20%;
}
.medical{
    width: 20%;
}
.prescriptions{
    width: 20%;
}
.move_in{
    width: 20%;
}
.emg_cont{
    width: 20%;
}
.add_info{
    width: 20%;
}
.read{
    width: 20%;
}
.signature{
    width: 20%;
    clear: left;
}
.submit{
    width: 20%;
}
.oxford{
    width: 20%;
}
